{% extends "templates/web.html" %}

{% block page_content %}

<div class="col">
    
    <div><strong>First Name: </strong>{{first_name}}</div>
    <div><strong>Last Name: </strong>{{last_name}}</div>
    <div><strong>Full Name: </strong>{{full_name}}</div>
    <div><strong>Email: </strong>{{email}}</div>
    <div><strong>Phone No: </strong>{{phone}}</div>
    <div><strong>Address: </strong>{{address}}</div>
    <div><strong>Code: </strong>{{code}}</div>
    <div><strong>Students List:</strong></div>
</div>
<table class="table table-condensed table-hover table-bordered">
    <tr>
    <th class="text-center">Roll No</th>
    <th class="text-center">Full Name</th>
    <th class="text-center">Address</th>
    <th class="text-center">Email</th>
    <th class="text-center">Phone</th>
    </tr>
{% set r=frappe.get_all('Relation',fields=['mentor']) %}
{% set students=frappe.get_all
    ('Mentee',fields=['roll_no','full_name'], order_by='roll_no asc') %}


{% for i in r %}

{% if doc.name==i.mentor %}
{% for student in students %}
<tr>
<td style="width:10%; text-align:center;">{{student.roll_no}}</td>
<td style="width:10%; text-align:center;">{{student.full_name}}</td>
<td style="width:10%; text-align:center;">{{student.address}}</td>
<td style="width:10%; text-align:center;">{{student.email}}</td>
<td style="width:10%; text-align:center;">{{student.phone}}</td>
</tr>

{% endfor %}
{% endif %}
{% endfor %}

</table>

{% endblock %}

<!-- this is a sample default web page template -->
